In [3]:
import pandas as pd

df = pd.read_csv('C:\\Users\\petergrogan91\\Documents\\GitHub\\Price-Spread\\Sample.csv')
df.head()

,Trade_Date,RESOURCE_NAME,Delivery_Date,PQ,DELIVERY_TIME,EA MSQ,MSQ,RCUC MSQ,PN,MG,QD,Imbalance
0,03/01/2017,GU_400530,03/01/2017,50,06:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,03/01/2017,GU_400530,03/01/2017,50,06:30,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,03/01/2017,GU_400530,03/01/2017,50,07:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,03/01/2017,GU_400530,03/01/2017,50,07:30,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,03/01/2017,GU_400530,03/01/2017,50,08:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0